@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --navbar-height: 64px;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--navbar-height);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}